@{
    ViewBag.Title = "Admin panel";
}

<hgroup class="title">
    <h2>Admin panel</h2>
</hgroup>

<article>
    <table>
        <thead>
            <tr>
                <th>Email</th>
                <th>Date</th>
                <th>Delete</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>emailexample@email.com</td>
                <td>data example</td>
                <td><a class="delete-action" href="#"></a></td>
            </tr>
            <tr>
                <td>emailexample@email.com</td>
                <td>data example</td>
                <td><a class="delete-action" href="#"></a></td>
            </tr>
        </tbody>
    </table>
</article>