@{
    ViewBag.Title = "Time Machine";
}

<p class="generalHeader">Time Machine</p>
<div class="main-content-left">
    <form action="/" method="POST">
        <span>
            <label for="email">Email:</label>
            <input id="email" type="text" name="email">
        </span>
        <span>
            <label for="date">Date:</label>
            <input id="date" type="text" name="date">
        </span>
        <span>
            <label for="content">Content:</label>
            <textarea id="content" name="content"></textarea>
        </span>
        <span class="form-actions">
            <input class="button" type="submit" value="Send" />
        </span>
    </form>
</div>  
<div class="main-content-right">
    <img src="~/Images/future-machine.png" alt="future machine" />
</div>
  