@{
    ViewBag.Title = "Home";
}

<h2>Enter Your data:</h2>
<form>
    <span>
        <label for="email">Email:</label>
        <input id="email" type="text" name="firstname">
    </span>
    <span>
        <label for="data">Data:</label>
        <input id="data" type="text" name="lastname">
    </span>
    <span>
        <label for="content">Content:</label>
        <textarea id="content"></textarea>
    </span>
    <span class="form-actions">
        <input class="button" type="submit" value="Send" />
    </span>
</form>
  
